header{
    padding: 20px;
    font-size: 70px;
}

body{
    color: rgb(180, 228, 255);
    img{
        border: 5px solid purple;
    }
}

html{
    background-color: brown;
}

section{
    display: flex
}

.seletor{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

img{
    height: 200px;
}

.seletor img{
    opacity: 0.5;
}

.seletor img:hover{
    opacity: 1.0;
}